{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap
    Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap
    Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap Trap
  </p>
  <br />
  <p>
    Track Track Track Track Track Track Track Track Track Track Track Track Track Track
    Track Track Track Track Track Track Track Track Track Track Track Track Track Track
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
